<h2 mat-dialog-title>Quick Create</h2>
<mat-checkbox class="example-margin" [(ngModel)]="batchMode">Batch Entry</mat-checkbox>
<div class="container">

    <div [hidden]="batchMode || submitted">
        <!-- <h1>New Person Form</h1> -->
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                    First Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                    Last Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" required [(ngModel)]="model.gender" name="gender" #gender="ngModel">
                    <option *ngFor="let g of genders" [value]="g">{{g}}</option>
                </select>
                <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                    gender is required
                </div>
            </div>


            <div *ngIf="errorMsg" class="alert alert-danger is-size-7-mobile">
                {{errorMsg}}
            </div>


            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" style="margin-right:.5rem">Create & Add</button>
            <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>
        </form>
    </div>

    <div [hidden]="!batchMode || submitted">

        <form (ngSubmit)="onBatchSubmit()" #batchForm="ngForm">
            <div class="form-group">
                <textarea class="textarea" placeholder="John/Smith/M" rows="8" id="batchText" required [(ngModel)]="model2.batchText" name="batchText" #batchText="ngModel">
              </textarea>


                <div [hidden]="batchText.valid || batchText.pristine" class="alert alert-danger">
                    Text is required
                </div>
            </div>

            <div *ngIf="errorMsg2" class="alert alert-danger is-size-7-mobile	">
                {{errorMsg2}}
            </div>


            <button type="submit" class="btn btn-success" [disabled]="!batchForm.form.valid" style="margin-right:.5rem">Create & Add</button>
            <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>Creating person...</h2>
        <progress class="progress is-small is-primary" max="100">15%</progress>
    </div>
</div>