<section class="hero">
    <div class="hero-body">
        <div class="container" *ngIf="person">
            <div *ngIf="!uploadingPhoto; else spinner" mat-card-avatar style="background-image: url({{profilePhoto}});
            background-size: cover; height: 100px; width: 100px; float:left; padding-right:1em; position: relative">
                <label for="fileInput" class="is-clickable update-photo"><u>[Upload Photo]</u></label>
                <input class="file-input" id="fileInput" type="file" style="display:none" name="resume" (change)="onFileChanged($event)">

            </div>
            <ng-template #spinner>
                <div mat-card-avatar class="uploading">
                    <mat-spinner [diameter]="75"></mat-spinner>
                </div>
            </ng-template>
            <h2 class="title">
                Edit Profile
            </h2>
            <h4 *ngIf="person" class="subtitle">
                {{person.fullName}}
            </h4>
        </div>
        <div style="float:left; position: absolute; top: 5em; left: 2em">
            <i (click)="back()" class="material-icons is-clickable" style="margin-right:.5rem" matTooltip="Go Back">arrow_back</i>
            <i (click)="toHome()" class="material-icons is-clickable" matTooltip="Person Finder">home</i>
        </div>
    </div>
</section>

<div class="container" *ngIf="person">
    <person-form [person]="person" (submitFormEvent)="submitForm($event)"></person-form>
</div>