<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h2 class="title">
                Edit Profile
            </h2>
            <h4 *ngIf="person" class="subtitle">
                {{person.fullName}}
            </h4>
        </div>
        <div style="float:left; position: absolute; top: 5em; left: 2em">
            <i (click)="back()" class="material-icons is-clickable">arrow_back</i>
        </div>
    </div>
</section>

<div class="container" *ngIf="person">
    <person-form [person]="person"></person-form>
</div>