<div class="container profile-container" style="padding-bottom: 2em;">
    <section class="hero">
        <div class="hero-body">

            <div style="float:left; position: absolute; top: .5em; left: 2em">
                <i (click)="back()" class="material-icons is-clickable" style="margin-right:.5rem" matTooltip="Go Back">arrow_back</i>
                <i (click)="toHome()" class="material-icons is-clickable" matTooltip="Person Finder">home</i>
            </div>
        </div>
    </section>
    
    <div *ngIf="chartLoaded" style="border-style: outset;">
        <div class="message-header" *ngIf="relationsLabel">
            <p>{{relationsLabel}}</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <relation-chart *ngIf="nodes" [links]="links" [nodes]="nodes" [clusters]="clusters"></relation-chart>
    </div>

</div>