<div class="container">
    <div [hidden]="submitted">
        <h1>Add New Manga</h1>
        <br/>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="form-group">
                <label for="name">Chapter Url</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.chapter" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Chapter is required
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Add</button>
        </form>
    </div>


</div>